html, body {
    height: 90%;
 
    
}
body {
    text-align: center;
    background-color: lightgray;
    font-family: 'Rubik', sans-serif;
    
}


.main {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
    
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}
table, th, td {
   
    margin: 10px auto;
    
}

table {
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed;
}

p {
    font-family: 'Rubik', sans-serif;
    color: red;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
  
th, td {
    
    padding: 8px;
    
}

td img {
    height: 25px;
    width: 25px;
}



footer {
    background: lightskyblue;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;   
    font-family: 'Rubik', sans-serif;
 
 }

footer p {
    color: white;
    display: table;
    margin: 0 auto;
text-align: center;

}

 footer img {
     margin-top: 10px;
     margin-left: 5px;
 }

